@CHARSET "ISO-8859-1";
        li {
            text-align:center;
        }
        
        li span {
            display:block;
            margin:5px;
            background:red;
        }
        
        .next,
        .prev {
            cursor:pointer;
        }
        
        .example2 {
            margin:0 auto;
            padding:0;
            list-style:none;
            width:1000px;
            height:600px;
            overflow:hidden;
        }
        
        .example2 li {
            text-align:left;
            display:block;
            width:697px;
            height:400px;
        }
        #des{
        	color:white;
        }
        .carousel-pagination li {
            display:block;
            width:10px;
            height:10px;
            margin-right:5px;
            cursor:pointer;
            float:left;
            background:#00C5EE;
        }
        
        .carousel-pagination .carousel-pagination-active {
            background:white;
        }
        .Car{
        	margin-left: 20%;
        }