.Titulo{
	color: white;
}

.Imagen1{
	color: white;
	margin-top: -200px;
}

.Trama {
	margin-left: 260px; 
	margin-top: -300px;
	color: white;
}

.Parrafo{
	margin-left: 260px; 
	margin-top: 25px;
	color: white;

}

.Clasificacion{
	margin-left: 260px; 
	margin-top: 30px;
	color: white;

}

.Parrafo1{
	margin-left: 260px; 
	margin-top: 40px;
	color: white;

}

.Comprar{ 
	margin-top: 45px;
	color: white;

}

.Video{
	margin-left: 300px; 
	margin-top: 50px;

}